.section_title {
    font-family: 'Dancing Script', cursive;
}
.article  {
    display: flex;
    flex: 1;
    padding: 20px;
}
.table {
    border-collapse: collapse;
    margin: 0%;
    width: 100%;
}

.tableCell_main {
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: #a4b68f;
}

.tableCell {
    border-style: solid;
    border-color:black;
    text-align: center;
}

.hr {
    border: 1px solid #283618; 
    margin: 20px 0; 
}
.section1_innerText {
    text-indent: 10px;
}