.navbar {
    display: flex;
    background-color: #283618;
    padding: 10px;
    justify-content: center;
    align-items:center
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}