.background {
    background-color; #faf9f9;
}

.dark {
    background-color: #c3c9c3;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #283618;
    font-size: 50px;
    text-align: left;
    margin-top: 40px;
}

.logo_container {
    display: flex;
    align-items: flex-start;
}

.logo_image {
    width: auto;
    height: 100px;
}


